:host {
    overflow-y: auto;
}

form {
    width: 100%;
    padding: 16px !important;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    user-select: none;

    label, input {
        cursor: pointer;
    }
}

section {
    margin: 16px 0;
    color: #DDCECD;
    p {
        font-weight: bold;
    }
}

label {
    padding: 0;
}

.checkbox-group {
    display: flex; 
    justify-content: space-between;
}
