.background {
    fill: #1B3B6F;
    pointer-events: visible;
}

.country {
    fill: none;
}

.lake {
    fill: #4BB6EF;
}

.municipality {
    fill: whitesmoke;
    stroke: grey;
    stroke-width: 0.25;
}

.municipality.active {
    fill: #D6FFD6;
    stroke: green;
    stroke-width: 0.5;
}

.canton {
    // fill: none;
    fill-opacity: 10%;
    stroke: #1B3B6F;
    stroke-width: 0.75;
    pointer-events: none;
    // cursor: pointer;
}

// .canton.active {
//     fill: none;
//     stroke-width: 1;
// }

.route {
    fill: none;
    stroke: red;
    stroke-width: 1;
    cursor: pointer;
}

.route:not(.active):hover {
    stroke-width: 2;
    transition: 0.075s;
}

.route.active {
    stroke: green !important;
    stroke-width: 2;
}

.route.hidden {
    stroke: none;
}

.route-endpoint {
    fill: green;
    stroke-width: 1;
    // cursor: pointer;
}

.location {
    fill: red;
    stroke: black;
    stroke-width: 1;
    cursor: pointer;
}
