@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

#map {
    position: relative;
    fill: none;
}

.background {
    fill: #20728E;
    pointer-events: visible;
    z-index: -1;
}

.country {
    fill: none;
}

.lake {
    fill: #4BB6EF;
}

.municipality {
    fill: whitesmoke;
    stroke: grey;
    stroke-width: 0.25;
}

.municipality.active {
    fill: #D6FFD6;
    stroke: #69995D;
    stroke-width: 0.5;
}

.canton {
    fill-opacity: 10%;
    stroke: black;
    stroke-width: 1;
    pointer-events: none;
}

.canton.active {
    fill-opacity: 25%;
    stroke-width: 1.5;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 / 5));
}

.route {
    stroke: #F26419;
    stroke-width: 0.7;
    cursor: pointer;
}

.route.active {
    stroke: #69995D !important;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.5)); 
}

.route:not(.active):hover {
    stroke: #E9CE2C !important;
    transition: 0.075s;
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.5)); 
}

.route.hidden {
    stroke: none;
}

.stage {
    stroke: #69995D !important;
    stroke-width: 0.7;
    pointer-events: stroke;
    cursor: pointer;
}

.stage.inactive {
    stroke: #2C3F27 !important;
}

.stage:hover {
    stroke: #E9CE2C !important;
    transition: 0.075s;
}

.stage-endpoint {
    fill: #69995D;
    fill-opacity: 75%;
    stroke: black;
    stroke-width: 1.5;
    pointer-events: none;
}

.photo-location {
    fill: #FE5F55;
    stroke: black;
    stroke-width: 1.5;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    opacity: 0.95;
    background-color: $light;
    border-radius: 2px;
    box-shadow: $box-shadow;
    font-size: $font-size-sm;
    white-space: nowrap;
    pointer-events: none;
    user-select: none;
    z-index: 999;

    & p {
        margin: 0 4px;
        padding: 2px;

        i {
            margin-right: 4px;
        }
    }

}

#tooltip.hidden {
    display: none;
}