.settings-bar {
    position: fixed; 
    width: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    color: whitesmoke; 
    background-color: rgba(28, 58, 111, 0.75);
    backdrop-filter: blur(1px);
    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
    user-select: none;
}

.formgroup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 20px;
}

.filters {
    flex-direction: column;
    margin-top: 20px;
    width: 350px;
}