<form [formGroup]="mapSettingsForm" (change)="mapSettingsChanged()" class="formgroup">
    <p style="padding-top: 30px; font-weight: bold;">Angezeigte Routen</p>
    <div style="display: flex;">
        <div style="padding: 35px;" class="form-check form-switch">
            <label style="padding: 0px">National</label>
            <input formControlName="national" type="checkbox" class="form-check-input" id="flexSwitchCheckDefault"/>
        </div>
        <div style="padding: 35px" class="form-check form-switch">
            <label style="padding: 0px">Regional</label>
            <input formControlName="regional" type="checkbox" class="form-check-input" id="flexSwitchCheckDefault"/>
        </div>
        <div style="padding: 35px" class="form-check form-switch">
            <label style="padding: 0px">Lokal</label>
            <input formControlName="local" type="checkbox" class="form-check-input" id="flexSwitchCheckDefault"/>
        </div>
    </div>
    
    <p style="font-weight: bold;">Filter</p>
    <div>
        <div class="filters">
            <app-range-slider [min]="mapSettingsForm.get('durationMin')?.value" [max]="mapSettingsForm.get('durationMax')?.value" (onLowerChanged)="handleLowerDurationChange($event)" (onUpperChanged)="handleUpperDurationChange($event)"></app-range-slider>
        </div>
        
        
        <!--
        <div class="filters">
            <label for="length" class="form-label">Länge</label>
            <input type="range" class="form-range" min="0" id="length">
        </div>
            <div class="filters">
            <label for="elevation" class="form-label">Aufstieg</label>
            <input type="range" class="form-range" min="0" id="elevation">
        </div>
        <div class="filters">
            <label for="descending" class="form-label">Abstieg</label>
            <input type="range" class="form-range" min="0" id="descending">
        </div>
        <div class="filters">
            <label for="fitnessLevel" class="form-label">Kondition</label>
            <input type="range" class="form-range" min="0" id="fitnessLevel">
        </div>
        <div class="filters">
            <label for="difficulty" class="form-label">Schwierigkeitsgrad</label>
            <input type="range" class="form-range" min="0" id="difficulty">
        </div> -->
    </div>
</form>
<div style="display: flex; align-items: center; margin-top: 100px;">
    <button type="button" class="btn btn-outline-dark" style="width: 100px; margin: 0 auto;" (click)="offcanvas.close('Close click')">Close</button>
</div>
