<form [formGroup]="mapSettingsForm" (change)="mapSettingsChanged()">
    <section>
        <p>Streckentypen</p>
        <div style="display: flex; justify-content: space-between;">
            <div  class="form-check form-switch">
                <label style="padding: 0">
                    National
                    <input formControlName="national" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label style="padding: 0">
                    Regional
                    <input formControlName="regional" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label style="padding: 0">
                    Lokal
                    <input formControlName="local" type="checkbox" class="form-check-input" />
                </label>
            </div>
        </div>
    </section>
    
    <section>
        <p>Zeitdauer</p>
        <div>
            <app-range-slider
                [min]="0" [max]="10000" [step]="15" 
                [initialLower]="mapSettingsForm.value.durationMin" 
                [initialUpper]="mapSettingsForm.value.durationMax" 
                [unit]="durationUnit"
                (onRangeChanged)="handleDurationRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Aufstieg [m]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="2000" [step]="50" 
                [initialLower]="mapSettingsForm.value.elevationMin" 
                [initialUpper]="mapSettingsForm.value.elevationMax" 
                [unit]="elevationUnit"
                (onRangeChanged)="handleElevationRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Abstieg [m]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="2000" [step]="50" 
                [initialLower]="mapSettingsForm.value.descendingMin" 
                [initialUpper]="mapSettingsForm.value.descendingMax" 
                [unit]="descendingUnit"
                (onRangeChanged)="handleDescendingRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Länge [km]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="100000" [step]="500" 
                [initialLower]="mapSettingsForm.value.lengthMin" 
                [initialUpper]="mapSettingsForm.value.lengthMax" 
                [unit]="lengthUnit"
                (onRangeChanged)="handleLengthRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

</form>
<div style="display: flex; align-items: center; margin-top: 100px;">
    <button type="button" class="btn btn-outline-dark" style="width: 100px; margin: 0 auto;" (click)="offcanvas.close('Close click')">Close</button>
</div>
