<form [formGroup]="mapSettingsForm" (change)="mapSettingsChanged()">
    <section>
        <p>Streckentypen</p>
        <div class="checkbox-group">
            <div  class="form-check form-switch">
                <label>
                    national
                    <input formControlName="national" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label>
                    regional
                    <input formControlName="regional" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label>
                    lokal
                    <input formControlName="local" type="checkbox" class="form-check-input" />
                </label>
            </div>
        </div>
    </section>
    
    <section>
        <p>Dauer [dd:hh:mm]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="17280" [step]="15" 
                [initialLower]="mapSettingsForm.value.durationMin" 
                [initialUpper]="mapSettingsForm.value.durationMax" 
                [unit]="durationUnit"
                (onRangeChanged)="handleDurationRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Distanz [km]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="700000" [step]="500" 
                [initialLower]="mapSettingsForm.value.lengthMin" 
                [initialUpper]="mapSettingsForm.value.lengthMax" 
                [unit]="lengthUnit"
                (onRangeChanged)="handleLengthRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Aufstieg [m]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="50000" [step]="50" 
                [initialLower]="mapSettingsForm.value.elevationMin" 
                [initialUpper]="mapSettingsForm.value.elevationMax" 
                [unit]="elevationUnit"
                (onRangeChanged)="handleElevationRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Abstieg [m]</p>
        <div>
            <app-range-slider
                [min]="0" [max]="50000" [step]="50" 
                [initialLower]="mapSettingsForm.value.descendingMin" 
                [initialUpper]="mapSettingsForm.value.descendingMax" 
                [unit]="descendingUnit"
                (onRangeChanged)="handleDescendingRangeChange($event)">
            </app-range-slider>
        </div>
    </section>

    <section>
        <p>Technik</p>
        <div class="checkbox-group">
            <div  class="form-check form-switch">
                <label>
                    leicht
                    <input formControlName="lowSkills" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label>
                    mittel
                    <input formControlName="mediumSkills" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label>
                    schwer
                    <input formControlName="goodSkills" type="checkbox" class="form-check-input" />
                </label>
            </div>
        </div>
    </section>

    <section>
        <p>Kondition</p>
        <div class="checkbox-group">
            <div  class="form-check form-switch">
                <label>
                    leicht
                    <input formControlName="lowFitness" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label>
                    mittel
                    <input formControlName="mediumFitness" type="checkbox" class="form-check-input"/>
                </label>
            </div>
            <div class="form-check form-switch">
                <label>
                    schwer
                    <input formControlName="goodFitness" type="checkbox" class="form-check-input" />
                </label>
            </div>
        </div>
    </section>

    <div style="display: flex; align-items: center; margin-top: 16px">
        <button type="button" class="btn btn-outline-dark" style="margin: 0 auto;" (click)="resetFiltersToDefault()">Zurücksetzen</button>
    </div>

    <div style="display: flex; align-items: center; margin-top: 16px">
        <button type="button" class="btn btn-outline-dark" style="width: 100px; margin: 0 auto;" (click)="offcanvas.close('Close click')">Schliessen</button>
    </div>
</form>
