<button class="btn btn-lg btn-outline-primary" (click)="openModal(modalContent)">Foto-Upload</button>

<ng-template #modalContent let-modal>
    <form [formGroup]="uploadForm" (ngSubmit)="submit()">
        <div class="modal-header">
            <h4 class="modal-title">Foto Upload</h4>
            <button type="button" class="btn-close" style="margin-right: 4px" aria-label="Schliessen" (click)="modal.dismiss()"></button>
        </div>
        <div *ngIf="photoURL" class="" style="padding: 16px; display: flex; justify-content: center; align-items: center;">
            <img [src]="photoURL" class="img-thumbnail" style="max-height: 180px;">
        </div>
        <div class="modal-body">
            <input type="file" class="form-control" accept=".jpg, .jpeg," (change)="handlePhotoInputAsync($event)" />
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-light" [disabled]="!uploadForm.valid">Übermitteln</button>
        </div>
    </form>
</ng-template>