.nav-bar {
    width: 100%;
    padding: 12px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke; 
    background-color: #1B3B6F;
    backdrop-filter: blur(1px);
    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
    user-select: none;
}

.title {
    color: #0d6efd;
}

.searchbar {
    align-items: center;
    min-width: 350px;
    padding: 8px 0px;
}
