.nav-bar {
    //position: fixed; 
    width: 100%;
    padding: 12px;
    //display: flex;
    align-items: center;
    color: whitesmoke; 
    background-color: #1B3B6F;
    backdrop-filter: blur(1px);
    border-bottom: 1px solid rgba(245, 245, 245, 0.1);
    user-select: none;
}
