<nav class="nav-bar">
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Settings</button>
</nav>

<ng-template #content let-offcanvas>
    <form [formGroup]="displayedRouteTypeForm" (change)="displayedRouteTypesChanged()" style="display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;">
        <p style="padding-right: 8px; font-weight: bold;">Angezeigte Routen:</p>
        <div style="display: flex;">
            <div style="padding: 8px">
                <label style="padding: 8px">National</label>
                <input formControlName="national" type="checkbox"/>
            </div>
            <div style="padding: 8px">
                <label style="padding: 8px">Regional</label>
                <input formControlName="regional" type="checkbox"/>
            </div>
            <div style="padding: 8px">
                <label style="padding: 8px">Lokal</label>
                <input formControlName="local" type="checkbox"/>
            </div>
        </div>
    </form>
    <button type="button" class="btn btn-outline-dark" style="width: 100px; margin: 0 auto" (click)="offcanvas.close('Close click')">Close</button>
</ng-template>
  
