<nav class="nav-bar d-flex">
    <button class="btn btn-md btn-outline-primary" (click)="open()">
        <i class="bi bi-sliders"></i>
        Filter
    </button>

    <form (submit)="searchForCanton($event)">
        <div class="input-group searchbar">
            <input 
                #searchInput
                class="form-control"
                id="canton-search" 
                type="text" 
                placeholder="Suche hier..."
                class="form-control"
                [ngbTypeahead]="search"
                #instance="ngbTypeahead"
            />
            <button type="submit" class="btn btn-md btn-outline-primary" > 
                <i class="bi bi-search me-2"></i> 
                Suche
            </button>
        </div>
    </form>

    <h2 class="title">Wanderland</h2>

</nav>
