<nav class="nav-bar">
    
    <button class="btn btn-md btn-outline-primary" (click)="open()">
        <i class="bi bi-sliders"></i>
        Filtern
    </button>

    <!-- <div>
        <app-search-bar></app-search-bar>     
    </div> -->
    
    <form class="">
        <div class="input-group mb-3">
            <input 
                class="form-control form-control-lg"
                id="canton-search" 
                type="text" 
                placeholder="Suche hier"
                class="form-control"
                [ngbTypeahead]="search"
                #instance="ngbTypeahead"
            />
            <button class="btn btn-md btn-outline-primary" type="submit"><i class="bi bi-search me-2"></i> Suche</button>
        </div>
    </form>


</nav>
