<form [formGroup]="rangeForm" (input)="rangeSliderChanged()">
    <div class="valueDisplayContainer">
        <span #lowerValueOutput class="output lowerValueOutput"></span>
        <span #upperValueOutput class="output upperValueOutput"></span>
    </div>
    <span #spanFullRange class="full-range"></span>
    <span #spanSliderRange class="incl-range"></span>
    <input formControlName="limitOne" type="range" [min]="min" [max]="max" [step]="step">
    <input formControlName="limitTwo" type="range" [min]="min" [max]="max" [step]="step">
</form>
