/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;

    :focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: none !important;
    }
}


/* Override Bootstrap styles here */
// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   "success":    $success,
//   "info":       $info,
//   "warning":    $warning,
//   "danger":     $danger,
//   "light":      $light,
//   "dark":       $dark
// );

/* Importing Bootstrap files */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

