<div class="modal-body">
    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let photo of photos; let i = index">
            <div class="picsum-img-wrapper" style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center;">
                <img [src]="photo.src" style="max-width: 100%; height: auto;" [alt]="'Foto '+(i+1)">
            </div>
            <!-- <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </ng-template>
    </ngb-carousel>
</div>

        