<div class="modal-body" >
    <ngb-carousel [showNavigationArrows]="photos.length > 1" [showNavigationIndicators]="photos.length > 1" [wrap]="true">
        <ng-template ngbSlide *ngFor="let photo of photos; let i = index">
            <div style="display: flex; justify-content: center; align-items: center;">
                <img [src]="photo.src" style="max-height: 60vh; width: auto" [alt]="'Foto '+(i+1)">
            </div>
            <!-- <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div> -->
        </ng-template>
    </ngb-carousel>
</div>

        